extends ../layout/main_layout.pug
include ../mixins/createProduct.pug

block content
    .row
        .col-md-3 
            include ../includes/menu.pug
        .col-md-9
            div.row
                each product in products
                    +createProduct(product)
     

            